/* *********************************************************
                    INDEX / PRIMARY CSS 
*********************************************************  */
body {
    background-color: rgb(237, 229, 245);
    background-color: rgb(231, 227, 227);
    margin: 0;
}

.meat{
    font-family: monospace, sans-serif;
    margin: 5%;
}

section {
    font-size: 3vh;
}

.heading-descr {
    margin: 2rem;
}

.div-input {
    margin: 4rem;
    align-items: center;
    text-align: center;
}

.inputting-space{
    display:block;
/*    border-radius: 5%;*/
/*    transform: scale(4rem);*/
    width: 100%;
    text-align: center;
}

#comcan {
    display: block;
    overflow: hidden;
    font-family: Handjet, monospace, sans-serif;
    font-size: 10vh;
    
    font-weight:bolder;
    text-overflow: clip;
    text-align: right;
    text-shadow: 10px 5px 50px rgb(34, 34, 34);
    margin: 0px;
/*    background-color: rgb(176, 213, 214);*/
/*    background-color: rgb(231, 227, 227);*/
/*    border: 2px solid rgb(231, 227, 227);*/
    border-radius: 5pc;
    padding: 2px 20px;
    size-adjust: 50%;
}

.homepage-link {
    /* remove default link display of index.html link*/
    text-decoration: none;
    color: black;
}


#gradient-border {
    padding: 1rem;
    position: relative;
    background: linear-gradient(to left, yellow, white);
    background: linear-gradient(to left, rgb(231, 227, 227), rgb(235, 233, 233));
    background: linear-gradient(to left, rgb(235, 233, 233), rgb(201, 197, 197));
    
}

.topnav {
    /* make nav bar stop meeting Daily Inspiration*/
    overflow: hidden;
    max-width: 100%;
    border-top: 5px dotted rgb(156, 152, 153);
}

.topnav a {
    /* remove link underline*/
    text-decoration: none;
/*    color:rgb(37, 93, 145);*/
    color:rgb(45, 59, 88);
}



.topnav a:hover {
    /* highlighter effect on hover*/
    background-color: rgb(237, 252, 33);
    color:rgb(0, 0, 0);
}

/*
#navdiv {
    display: block;

}
*/



ul {
/* infuriating combination of MAKE A TOP NAV BAR  */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
 /*   float: left;*/
    text-align: center;
    padding: 2%;
    width:96%;
    max-width: 100%;
    
}


.links {
/* nav background color */

 /*   display: inline;*/
/*    background-color: rgb(233, 240, 235);*/
    background-color: rgb(231, 227, 227);

    /*remove border for now*/
/*    border: 2px solid rgb(233, 240, 235);*/
}



#daily-section, #quote-words {
    display: block;
  
}

#daily-section {
    margin: 5%;
}

#foot {
    position: fixed;
    padding: 2% 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(231, 227, 227);
    color: rgb(22, 7, 7);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/*    font-size: small;*/
    font-size: 2vh;
}

#foot a {
    /*  LinkedIn link appearance */
    text-decoration: none;
    color: rgb(45, 59, 88);
    
    font-weight: bold;
}

/* *********************************************************
                    EXCHANGE PAGE
*********************************************************  */




/* *********************************************************
                    WEATHER PAGE
*********************************************************  */

/*#d-temps {
        margin: 4rem;
   align-items: center;
    text-align: center;
}*/


#inputCelsius {
    display:block;
/*    border-radius: 5%;*/
/*    transform: scale(4rem);*/
    width: 100%;
    text-align: center;
}


/* BOX STYLING */
/*
#inputCelsius:active, #inputCelsius:hover, #inputCelsius:focus, #inputCelsius {
    text-align: center;
    align-items: center;
    align-content: center;
    border: 5px solid greenyellow;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 0;
    max-width: 50%;
}
*/
 
@media screen and (max-width: 370px){
   
    /* HEADER SHRINKING */
    a.homepage-link {
        margin: 10%;
        padding-right: 5%;
    } 
    #comcan {
        margin: 5%;
        padding-right: 15%;
    }
}