/* ***************************************************
                        SURVEY FORM
****************************************************** */

/* OUTSIDE OF FORM TAG*/

body{
    margin: 5%;
    min-width: 300px;
    background-color: rgb(18, 31, 31);
    color: rgb(204, 192, 177);
}

h1 {
    text-align: center;
    
}

p {
    text-align: center;
}

/* WITHIN FORM TAG */


fieldset {
    border: none;
    padding: 2%;
}

#person {
    border: 2px solid black;
    border-radius: 5%;
}

label {
    display: block;
    margin: 2%;
}

#name, #email, #age {
    text-align: center;
    
}



@media screen and (min-width: 650px ) {
    body {
        text-align: center;
        border: none;
        padding: 2%;
    }
}